# Taken from https://raw.githubusercontent.com/github/gitignore/refs/heads/main/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Ruff stuff:
.ruff_cache/
